[Palette]
Name=Kleur
Primary=true

[Light]
Background=#{{lightTheme.background-hex}}
Foreground=#{{lightTheme.base07-hex}}
Color0=#{{lightTheme.base00-hex}}
Color1=#{{lightTheme.base01-hex}}
Color2=#{{lightTheme.base02-hex}}
Color3=#{{lightTheme.base03-hex}}
Color4=#{{lightTheme.base04-hex}}
Color5=#{{lightTheme.base05-hex}}
Color6=#{{lightTheme.base06-hex}}
Color7=#{{lightTheme.base07-hex}}
Color8=#{{lightTheme.base08-hex}}
Color9=#{{lightTheme.base09-hex}}
Color10=#{{lightTheme.base0A-hex}}
Color11=#{{lightTheme.base0B-hex}}
Color12=#{{lightTheme.base0C-hex}}
Color13=#{{lightTheme.base0D-hex}}
Color14=#{{lightTheme.base0E-hex}}
Color15=#{{lightTheme.base0F-hex}}

[Dark]
Background=#{{darkTheme.background-hex}}
Foreground=#{{darkTheme.base07-hex}}
Color0=#{{darkTheme.base00-hex}}
Color1=#{{darkTheme.base01-hex}}
Color2=#{{darkTheme.base02-hex}}
Color3=#{{darkTheme.base03-hex}}
Color4=#{{darkTheme.base04-hex}}
Color5=#{{darkTheme.base05-hex}}
Color6=#{{darkTheme.base06-hex}}
Color7=#{{darkTheme.base07-hex}}
Color8=#{{darkTheme.base08-hex}}
Color9=#{{darkTheme.base09-hex}}
Color10=#{{darkTheme.base0A-hex}}
Color11=#{{darkTheme.base0B-hex}}
Color12=#{{darkTheme.base0C-hex}}
Color13=#{{darkTheme.base0D-hex}}
Color14=#{{darkTheme.base0E-hex}}
Color15=#{{darkTheme.base0F-hex}}
